


.form-card {
  background: white;
  border-radius: 16px;
  max-width: 650px;
  transition: 0.3s ease-in-out;
}

.form-card:hover {
  transform: translateY(-4px);
  box-shadow: 0px 12px 26px rgba(0, 0, 0, 0.15);
}

.form-title {
  color: #007f5f;
}

.input-style {
  border-radius: 10px;
  transition: 0.3s;
}

.input-style:focus {
  border-color: #38b000;
  box-shadow: 0 0 8px rgba(56, 176, 0, 0.5);
}


.btn-submit {
  background: linear-gradient(90deg, #007f5f, #38b000);
  color: white;
  font-weight: bold;
  font-size: 1.1rem;
  border: none;
  transition: 0.3s;
}

.btn-submit:hover {
  background: linear-gradient(90deg, #006f4f, #2fa800);
  transform: scale(1.05);
}


/* ---------- GALLERY SECTION ---------- */
.gallery-title {
  color: #005f2f;
  letter-spacing: 1px;
}

.gallery-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 25px;
}

.gallery-card {
  background: white;
  border-radius: 14px;
  overflow: hidden;
  cursor: pointer;
  transition: 0.3s;
  border: 1px solid #ddd;
}

.gallery-card:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 20px rgba(0,0,0,0.2);
}

.gallery-img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.gallery-info {
  padding: 10px 15px;
}

.gallery-info h5 {
  margin: 0;
  font-weight: bold;
  color: #007f5f;
}

.gallery-info p {
  margin: 0;
  color: #555;
}
